
* {
  box-sizing: border-box;
}
  
html, body {
  height: 100%;
}

html, input {
  background-color: #F4F7F8;
  color: black;
  font-family: monospace;
  font-size: 16px;
  line-height: 1.5;
}

body {
  max-width: 700px;
  max-height: 250px;
}

input {
  border: none;
  width: 90%;
}

#buttons {
  float: right;
  z-index: 1; 
}
  
#repl {
  overflow: auto;
  height: 90%;
}
  
#history {
  opacity: 0.7; 
}

.history-input {
  color: #690;
}

.history-output {
  color: #07a;
}
