
* {
  box-sizing: border-box;
}
  
html, body {
  height: 100%;
}

html, input {
  background-color: #F4F7F8;
  color: black;
  font-family: monospace;
  font-size: 16px;
  line-height: 1.5;
}

body {
  max-width: 700px;
  max-height: 250px;
}

input {
  border: none;
  width: 80%;
}

#buttons {
  position: absolute;
  top: 0.5em;
  left: 600px;
  z-index: 1; 
}
  
#repl {
  overflow: scroll;
  height: 80%;
}
  
#history {
  opacity: 0.5; 
}
