body {
  background-color: #EAEFF2;
  padding: 0;
  margin: 0;
}

#buttons {
  margin: 0.5em;
}

#output {
  width: 100%;
  height: 40px;
  background-color: white;
  padding: 1em;
  box-sizing: border-box;
  font-family: courier;
  font-size: 13px;
}

#editor, #output {
  font-size: 14px;
}
